<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Random meal</title>
    <link rel="stylesheet" href='/static/styles/display.css' />
</head>

<body>
    <div class="light-blue-box">
    <left>
        <h3>User Email: {% if current_user.is_authenticated %}
            {{ user }}
            {% endif %}</h3>
        <h3> Finished Browsing Recipes? Logout here:
            <a href="{{url_for('logout')}}">Logout</a><br>
            Wanna Browse Your Saved Recipes?
            <a href ="{{url_for('user_saved_recipes')}}">Your Saved Recipes</a><br>
        </h3>
        
    </left>
    </div>
    <center>
        <div class="white-box">
            <h1> <b> Culinary Explorer: Random Recipe Ideas </b></h1>
            <div class="content">
                <div class='header'>
                    <h1>{{name}}</h1>
                    <h2>{{category}}</h2>
                    <img src={{img}}>

                </div>

                <div class="ing">
                    <p>Ingredients:</p>
                    <ul>
                        {% for ingredient in ingredients%}
                        <li>{{ingredient[0]}}, {{ingredient[1]}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="instr">
                    <p>Cooking Instructions:</p>
                    <p>{{instructions}}</p>
                </div>
            </div>
            <form method="POST" action="/save_recipe">
                <br><br><br>
                <input type="submit" value="Save this recipe">
                <input class="recipe_id" type="text" name="recipe_id" value={{id}}>

            </form>

    </center>
    </div>

</body>

</html>