<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Explorer: Profile</title>
    <link href="static/styles/main.css" rel="stylesheet" />
</head>

<body>
    <h2>User Email: {% if current_user.is_authenticated %}
        {{ user }}
        {% endif %}</h2>
    <h3> Finished Browsing Recipes?
        <a href="{{url_for('logout')}}">Logout Page</a><br>
    </h3>
    <form method="GET" action="/user_saved_recipes">
        <input type="submit" value="View Saved Recipes">
    </form>
    <center>
        <div class="white-box">
            <h1> <b> Culinary Explorer </b></h1>
        </div>
        <form method="GET" action="/display">
            <input type="submit" value="Random Recipe">
        </form>
    </center>
</body>

</html>