<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/title.css" rel="stylesheet" />
    <title>Title Page</title>
</head>

<body>
    <center>
        <div class="white-box">
            <h2> <b> Welcome to </b></h2>
            <h1>
                <p><b>CULINARY EXPLORER</b>
            </h1>
            </p>
            <h2>By Sam Randall and Nick Montelongo</h2>
            <img src="static/images/food_options.jpg" alt="app logo" width="500" height="400">
            <h3>Click the link below to sign up for our service</h3><br>
            <a href="{{url_for('register')}}">Signup Page</a><br>
            <h3>Click the link below to login if you have a username.</h3><br>
            <a href="{{url_for('login')}}">Login Page</a><br>
    </div>
    </center>
</body>

</html>