<html>
    <head>
        <meta charset="UTF-8">
        <title>Meal</title>
        <link rel="stylesheet" href='static/styles/user.css' />
    </head>
    <body>
        <div class="content">
            <h2>Saved Recipes:</h2>
            <form id="ret" method="POST" action="/handle_display">
            {% if recipes_list %}
            {% for recipe in recipes_list %}
                <label for="recipe">{{recipe[1]}}</label>
                <input type="submit" name="recipe" value="Go to Recipe">
                <input class="recipe_id" type="text" name="recipe_id" value={{recipe[0]}}><br>
            {% endfor %}
            {% endif %}
            </from>
        </div>
    </body>
</html>