h1 {
    color: darkgoldenrod
}

h2 {
    color: crimson
}


h3 {
    color: rgb(0, 0, 0)
}

p {
    font-family: 'Lucida Sans';
}

.white-box {
    background-color: white;
    color: black;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

body {
    background-image: url("/static/images/full_table.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.recipe_id{
    height: 0px;
    width: 0px;
}

.light-blue-box {
    background-color: lightskyblue;
    color: black;
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}